

.azul{
    color:blue;
}

.marron{
    color:brown;
    font-weight: bold;
    font-size: 200%;
    font-family: "Comic Sans MS", sans-serif;
    text-align: center;
    line-height: 1.6;




}

a{
    text-decoration: none;

}
